
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Chebi2gene</title>
    
    <link rel="stylesheet" href="http://flask.pocoo.org/docs/_static/flasky.css" type="text/css" />
    <link rel="stylesheet" href="http://flask.pocoo.org/docs/_static/pygments.css" type="text/css" />
  </head>
  <body>
    <div class="document">
      <div class="section" id="intro">
        <span id="id1"></span>
        <h1>Chebi2gene<a class="headerlink" href="#intro" title="Permalink to this headline">¶</a></h1>
        <h2>Chebi: {{ chebi }}</h2>
        <p>
            <a href="{{url_for('index')}}">Home</a> | 
            <a href="http://www.ebi.ac.uk/chebi/searchId.do?chebiId={{ chebi }}">Chebi page</a> | 
            <a href="{{url_for('generate_csv', chebi_id=chebi)}}">Export as csv</a>
        </p>

    {% for reactions in data %}
        <p>Reaction:
            <a href="http://www.ebi.ac.uk/rhea/reaction.xhtml?id=RHEA:{{ reactions }}">
                {{ reactions }}
            </a>
        </p>
        {% set reactionloop = loop %}
        {% if 'pathway' in data[reactions] %}
            {% for proteins in data[reactions]['pathway'] %}
                <p style="text-indent:50px;">Protein:
                    <a href="http://purl.uniprot.org/uniprot/{{ proteins }}">{{ proteins }}</a>
                </p>
                {% for pathways in data[reactions]['pathway'][proteins] %}
                    <p style="text-indent:100px;">
                        <span style="color:#0489B1">Pathway:</span>
                         {{ pathways }}
                    </p>
                {% endfor %}
                {% if 'genes' in data[reactions] %}
                    {% if proteins in data[reactions]['genes'].keys() %}
                        {% for gene in data[reactions]['genes'][proteins] %}
                            <p style="padding-left: 100px;">
                                <span style="color:#4B8A08">Gene:</span>
                                <a href="https://www.eu-sol.wur.nl/marker2seq/annotation.do?geneid={{ gene['name'] }}">
                                    {{ gene['name'] }}
                                </a>
                                <table style="padding: 0px 0px 0px 100px;">
                                    <tr>
                                        <td>{{ gene['sca'] }},</td>
                                        <td>{{ gene['start'] }},</td>
                                        <td>{{ gene['stop'] }},</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            {{ gene['desc']}}
                                        </td>
                                    </tr>
                                </table>
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if 'genes' in data[reactions] %}
            {% for proteins in data[reactions]['genes'] %}
                {% if proteins not in data[reactions]['pathway'].keys() %}
                    <p style="text-indent:50px;">Protein:
                        <a href="http://purl.uniprot.org/uniprot/{{ proteins }}">{{ proteins }}</a>
                    </p>
                    {% for gene in data[reactions]['genes'][proteins] %}
                        <p style="padding-left: 100px;">
                            <span style="color:#4B8A08">Gene:</span>
                            <a href="https://www.eu-sol.wur.nl/marker2seq/annotation.do?geneid={{ gene['name'] }}">
                                {{ gene['name'] }}
                            </a>
                            <table style="padding-left: 100px;">
                                <tr>
                                    <td>{{ gene['sca'] }},</td>
                                    <td>{{ gene['start'] }},</td>
                                    <td>{{ gene['stop'] }},</td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        {{ gene['desc']}}
                                    </td>
                                </tr>
                            </table>
                        </p>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
      </div>
    </div>
  </body>
</html>
